
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#image {
  width: 90%;
}

#learningBtn {
  color: black;
  background-color: #f8c47c;
  border-radius: 10%;
  padding: .3rem;
  border: .1rem solid black;
}

